{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class="container">
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/members">MEMBERS</a>
      </li>
    </ul>
    {{mymember}}<br><br>
    <img src="{% static 'attendance/images/image4.jpeg' alt='Italian Trulli' %}" style='width:400px; height:300px;'>
    <img src="{% static 'attendance/images/image1.jpeg' alt='Italian Trulli' %}" style='width:400px; height:300px;'>

  
  </div>
  
</body>
</html>